# history
export HISTSIZE=""
export HISTFILESIZE=""
export HISTFILE="$HOME/.history"
export SAVEHIST=$HISTSIZE
setopt hist_ignore_all_dups

# 256 color scheme support
export TERM="xterm-256color"

# make sure that if a program wants you to edit
# text, that Vim is going to be there for you
export EDITOR="vim"
export USE_EDITOR=$EDITOR
export VISUAL=$EDITOR

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# r library
export R_LIBS_USER=~/R/rlibs
export R_LIBS=~/R/rlibs

# add cargo to path
export PATH="$HOME/.cargo/bin:$PATH"

# cuda
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda-10.1/lib64"
export PATH="/usr/local/cuda-10.1/bin:$PATH"
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64"
export PATH="/usr/local/cuda/bin:$PATH"

# Add julia to path
export PATH=/usr/local/bin/julia:$PATH
export PATH=$HOME/.julia/bin:$PATH
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/lib/R/lib/" # for julia 1.4 and RCall

# spark
export SPARK_HOME="$HOME/spark"

# julia
export R_LD_LIBRARY_PATH="$HOME/julia"

# choosenim
export PATH=$HOME/.nimble/bin:$PATH

# airflow
export AIRFLOW_HOME=$HOME/airflow

# opencv
export WORKON_HOME=$HOME/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3

# local bin
export PATH=$PATH:~/.local/bin

# poetry
export PATH="$HOME/.poetry/bin:$PATH"

# for bazelisk
export PATH="$PATH:$(go env GOPATH)/bin"

# for teamocil
export GEM_HOME=$HOME/.gem
export PATH="$PATH:$GEM_HOME/bin"
